<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Example Template using Mustache</title>
</head>
<body>

<table align="center" cellpadding="15" cellspacing="0" border="0" bgcolor="#ffffff" style="display: block; max-width: 600px;">
<tr>
<td>

<p style="font: 16px/24px Helvetica, Arial, san-serif; color: #666666;">Dear {{o.dynamic1}},</p>

<p style="font: 16px/24px Helvetica, Arial, san-serif; color: #666666;">Your test worked on {{o.date}}! {{o.dynamic2}}</p>

<p style="font: 16px/24px Helvetica, Arial, san-serif; color: #666666;">Yours Truly,<br />
AWSMailer
</p>
</td>
</tr>
</table>

</body>
</html>